<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add_teacher</servlet-name>
        <servlet-class>success.add_teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_subject</servlet-name>
        <servlet-class>success.add_subject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_success</servlet-name>
        <servlet-class>success.student_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_teacher</servlet-name>
        <servlet-class>success.remove_teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preview_edit_success</servlet-name>
        <servlet-class>success.preview_edit_success</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_teacher</servlet-name>
        <url-pattern>/add_teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_subject</servlet-name>
        <url-pattern>/add_subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_success</servlet-name>
        <url-pattern>/student_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_teacher</servlet-name>
        <url-pattern>/remove_teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preview_edit_success</servlet-name>
        <url-pattern>/preview_edit_success</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
